mat-form-field {
  width: 100%;
}

.carousel {
  display: grid;
  grid-template-columns: 100% 100%;
  height: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  & > div {
    scroll-snap-align: center;  
  }
}

.footer-info {
  position: absolute;
  bottom: 1.5em;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.8em;
}