<div class="carousel">
  <div class="card">
    <div class="card-header card-header--purple">
      <div class="card-title">Welcome to Monopoly Banker</div>
      <div class="card-subtitle">Join a Game</div>
    </div>

    <div>
      <form [formGroup]="formJoin">
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Game ID</mat-label>
              <input matInput formControlName="gameID" />
              @if (formJoin.controls['gameID'].hasError('required')) {
                <mat-error>Is required</mat-error>
              }
              @if (formJoin.controls['gameID'].hasError('notExists')) {
                <mat-error>Game ID does not exist</mat-error>
              }
              @if (formJoin.controls['gameID'].hasError('alreadyInProgress')) {
                <mat-error>Game is already in progress</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Player Name</mat-label>
              <input matInput formControlName="playerName" />
              @if (formJoin.controls['playerName'].hasError('required')) {
                <mat-error>Is required</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <button mat-raised-button [disabled]="formJoin.invalid" (click)="onGameJoin()">
              Join
            </button>
          </div>
          <div class="col"></div>
        </div>
      </form>
    </div>

    <ng-container *ngTemplateOutlet="footerInfo"> </ng-container>
  </div>

  <div class="card">
    <div class="card-header card-header--orange">
      <div class="card-title"></div>
      <div class="card-subtitle">Create a new Game</div>
    </div>
    <div>
      <form [formGroup]="formCreate">
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Game Label</mat-label>
              <input matInput formControlName="label" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Player Name</mat-label>
              <input matInput formControlName="playerName" />
              @if (formCreate.controls['playerName'].hasError('required')) {
                <mat-error>Is required</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span><strong>Additional Rules</strong></span>
          </div>
        </div>
        <div class="row" style="margin-top: 1em">
          <div class="col">
            <mat-slide-toggle formControlName="moneyOnFreeParking"
              >Money on Free Parking</mat-slide-toggle
            >
          </div>
        </div>
        <div class="row" style="margin-top: 1em">
          <div class="col">
            <mat-slide-toggle formControlName="doubleMoneyOnGo"
              >Double Money on Go</mat-slide-toggle
            >
          </div>
        </div>
        <hr style="margin-top: 1em" />
        <div class="row" style="margin-top: 1em">
          <div class="col"></div>
          <div class="col">
            <button mat-raised-button [disabled]="formCreate.invalid" (click)="onGameCreate()">
              Create
            </button>
          </div>
          <div class="col"></div>
        </div>
      </form>
    </div>

    <ng-container *ngTemplateOutlet="footerInfo"> </ng-container>
  </div>

  <div class="card">
    <div class="card-header card-header--light-blue">
      <div class="card-title">Continue where you left off</div>
      <div class="card-subtitle">Recent Game Sessions</div>
    </div>
    <div>
      @if (recentGames().length > 0) {
        <div class="recent-games-list">
          @for (game of recentGames(); track game.gameID) {
            <div class="recent-game-entry" >
              <div class="recent-game-label">{{ game.gameLabel }}</div>
              <div class="recent-game-info">
                <span>Played as "{{ game.playerName }}"</span>
              </div>
              <div class="recent-game-btn">
                <button class="card-btn card-btn--text" (click)="onRecentGameSelect(game)">Continue</button>
              </div>
            </div>
          }
        </div>
      } @else {
        <div class="no-recent-games">No recent games found.</div>
      }
    </div>
    <ng-container *ngTemplateOutlet="footerInfo"> </ng-container>
  </div>
  
</div>

<ng-template #footerInfo>
  <div class="footer-info">
    <span>&lt;&lt; Swipe left or right to switch between options >></span><br />
    <span>Monopoly Banker - v {{ version }} - Tobias Michel © {{ year }}</span>
  </div>
</ng-template>
