


.footer-game-info {
  position: absolute;
  bottom: 1.5em;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.8em;

  .game-share {
    display: inline-block;
    margin-left: 20px;
  }
}

.bankrupcy-overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 175, 175, 0.301);

  .card-btn {
    position: absolute;
    bottom: 3em;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 8px;
    background: red;
    opacity: 0.8;
    z-index: 2;
  }

  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.winner-overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(175, 255, 175, 0.301);

  .card-btn {
    position: absolute;
    bottom: 3em;
  }

  &::after {
    content: 'Winner!';
    font-size: 2em;
    color: green;
    font-weight: 800;
  }
}