@if (game(); as g) {

<div class="card">
  <div class="card-header">
    <span class="card-title">{{ g.player.name }}</span>
    <span class="card-subtitle">{{ g.player.balance | number }} ₩</span>
  </div>

  <div class="card-quick-actions">
    <button class="card-btn card-btn--red" (click)="onPayTowards()">⨺</button>
    <button class="card-btn card-btn--round" (click)="onPaymentGo()">↢</button>
    @if (g.options.moneyOnFreeParking) {
    <button class="card-btn card-btn--round" [disabled]="!g.freeParking || g.freeParking.balance <= 0" (click)="onFreeParking()">🚘</button> }
    <button class="card-btn card-btn--green" (click)="onPayReceive()">⨹</button>
  </div>

  <div>
    @for(player of otherPlayers(); track player.id) {
    <div>
      <strong>{{ player.name }}</strong>
      <p>Balance: {{ player.balance | number }} ₩</p>
    </div>
    }
  </div>

  @if (g.player.balance <= 0) {
  <div class="bankrupcy-overlay">
    <button class="card-btn card-btn--red" (click)="onExitGame()">Exit</button>
  </div>
  }
</div>

} @else {
<div>Loading...</div>
}
